*.testlog
ConsoleApp1/bin
ConsoleApp1/.vs
ConsoleApp2/.vs
ConsoleApp2/bin
ConsoleApp2/obj/Debug
ConsoleApp2/Properties
ConsoleApp3/.vs
ConsoleApp3/bin
ConsoleApp3/obj
ConsoleApp4/.vs
ConsoleApp4/obj
ConsoleApp4/bin
ConsoleApp5/.vs/ConsoleApp5/DesignTimeBuild
ConsoleApp5/.vs/ConsoleApp5/FileContentIndex
ConsoleApp5/.vs/ConsoleApp5/v17/TestStore
ConsoleApp5/obj/Release/net8.0
ConsoleApp5/obj/Debug/net8.0
ConsoleApp5/obj
ConsoleApp5/bin/Debug
